.box{
    position: absolute;
    width: 100%;
    bottom:0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index:99;
}
.progressBar{
    width: 100%;
    
    padding:0px 10px;
}
.progress-text{
    margin:0;
    padding:0;
    font-weight: 400;
    min-width: 92px;
    color: rgba(255,255,255,0.9);
}
.slider-box{
    width: calc(100% - 20px);
    height: 20px;
}
.control-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    padding: 0px 10px;
}
.control{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    color:white;
    white-space: nowrap;
}
.control > p{
    cursor: pointer;
}

/*分割线*/
.split{
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    color: rgba(255,255,255,0.4);
}
.dammuBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    padding:0px 5px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(255,255,255,0.1);
    background-color: hsla(0,0%,100%,.14);
}
.dammu{
    background-color: transparent;
    border:none;
    outline: none;
    /*光标*/
    color: rgba(255,255,255,0.7);
}
.dammu:focus{
    border: none;
    outline: none;
}
.dammu::placeholder{
    color:white
}

/*音量滑动*/
.volumeBox{
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    justify-content: flex-end;
    overflow: visible;   
}
.slider-vertical-box{
    border-radius: 5px;
    padding:10px;
    justify-content: center;
    align-items: center;
    background-color: #363741;
    z-index:9999;
}
.slider-vertical{
    height: 100px;
    margin:0;
}
/*倍速*/
.speed-box > p{
    cursor: pointer;
    white-space: nowrap;
}