.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #292b35;
}
.header{
    background-color: #292b35;
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content{
    flex:1 1 0%;
    display: flex;
    flex-direction: row;
}
.nav{
    width: 10%;
    max-width: 100px;
    min-width: 50px;
}

.video{
    height: calc(100vh - 70px);
    border-radius: 30px;
    overflow: hidden;
    min-width: 300px;
    flex:1 1 0%;
}