.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    padding: 5px;
    flex-wrap: wrap;
    border-radius: 7px;
   
    transition: all 0.1s;
    cursor: pointer;
}
.text{
    color: #585a5f;
    white-space: nowrap;
}
.box:hover{
    background-color: rgba(44, 45, 67, 0.7);
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1);
}
