.all-box{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvas-box{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
}
.video{
    width: 100%;
    height: 100%;
    position: relative;

}
.canvas-control-box{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mask{
    width: 100%;
    position: absolute;
    bottom: 0;
    pointer-events: none;
}
