.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}   
.topBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white
}
.upload-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button:focus{
    outline: none;
    border: none;
}