.css-all-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.dplayer-controller {
    display: none;
}

.ant-slider-handle:hover {
    scale: 1.1;
}

.commentScroll::-webkit-scrollbar {
    display: none;
}
.css-my-video-tab > .ant-tabs-content-holder{
    overflow: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}
.css-my-video-tab > .ant-tabs-content-holder::-webkit-scrollbar {
    display: none;
}

.dplayer-notice-list{
    position: absolute;
    bottom: 100px !important;
    left: 20px
}
