.css-all-box{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-react-control-bar-auto-hide{
    display: none;
}
.big-play-button-hide{
    display: none;
}
.video-react-big-play-button-left{
    display: none;
}